.textHeadHeroes {
    margin-bottom: 40px; 
    margin-top: 40px;
    text-align: center;
    font-size: clamp(22px, 3vw, 42px);
}

.linkArchive {
    color: #000;
    text-decoration: none;
}

.linkArchive:hover {
    text-decoration: underline;
}

.blockLink {
    align-self: flex-end;
}

.more_details_link {
    text-decoration: none;
    border: 4px solid rgb(0, 166, 255);
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 19px;
    color: rgb(0, 166, 255);
    transition: background-color .4s ease;
}

@media (hover: hover) and (pointer: fine) {
    .more_details_link:hover {
        background-color: #f1f1f1;
    }
}

@media (min-width: 2000px) and (max-width: 2732px) {
    .heroCard img {
        width: 440px;
        height: 570px;
        object-fit: cover;
    }

    .more_details_link {
        font-size: 29px;
    }

    .textHeadHeroes {
        font-size: 48px !important;
        margin-bottom: 80px !important;
    }

    .heroCard p {
        font-size: 45px;
    }

    .desc {
        font-size: 39px;
        margin: 30px 100px 25px 0;
    }

    .blockLink {
        margin: 20px 90px 10px 0;
    }

    .linkArchive {
        font-size: 38px;
    }
}

@media (min-width: 1440px) and (max-width: 1999px) {
    .list {
        max-width: 1300px !important; 
        margin: 0 auto !important;
    }

    .heroCard h1 { font-size: 21px; }
    .heroCard p { font-size: 24px; }
    .desc { font-size: 24px; }
    .linkArchive { font-size: 22px; margin-right: 20px; }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .list {
        max-width: 1000px !important;
        margin: 0 auto !important;
    }
}

@media (min-width: 880px) and (max-width: 1024px) {
    .list {
        padding: 0 20px 0 20px;
    }

    .heroCard img {
        width: 150px;
        height: 210px;
        object-fit: cover;
    }

    .heroCard p,
    .heroCard h1 {
        font-size: 11px;
    }

    .linkArchive {
        font-size: 14px;
        margin-right: 30px;
    }
}

@media (min-width: 530px) and (max-width: 880px) {
    .list {
        grid-template-columns: repeat(2, minmax(150px, 1fr)) !important;
        padding: 0 5px 0 5px;
    }

    .heroCard img {
        width: 170px;
        height: 220px;
        object-fit: cover;
    }

    .heroCard p,
    .heroCard h1 {
        font-size: 11px;
    }

    .linkArchive {
        font-size: 12px;
        margin-right: 20px;
    }
}

@media (min-width: 320px) and (max-width: 580px) {
    .list {
        grid-template-columns: 250px !important;
        width: fit-content;
        margin: 0 auto;
    }

    .heroCard {
        margin-top: -10px;
    }

    .heroCard img {
        width: 190px;
        height: 260px;
        object-fit: cover;
    }

    .heroCard p,
    .heroCard h1 {
        font-size: 13px;
    }

    .linkArchive {
        font-size: 14px;
        margin-right: 30px;
    }

    .more_details_link {
        font-size: 15px;
    }
}