.divLogo {
    position: relative;
}

.bgLogo {
    position: absolute;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
}

.defState {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e8e8e8;
    position: absolute;
    border: none;
    right: 40px;
    bottom: 0;
    cursor: pointer;

    transition: transform .6s ease, box-shadow .4s ease, opacity 1.3s ease;

    box-shadow: 0 0 0 0 #fff;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.showUp {
    transform: translateY(-65px);
    opacity: 1;
    transition: transform 1.3s ease, opacity 1.3s ease;
}

.closeUp {
    transform: translateY(0);
    opacity: 0;
    transition: transform 1.3s ease, opacity 1.3s ease;
}

.up_icon {
    width: 20px;
    height: 20px;
}

@media (hover: hover) and (pointer: fine) {
    .defState.showUp:hover {
        transform: translateY(-80px);
        box-shadow: 0 1px 25px -2px #fff;
        transition: transform .6s ease, box-shadow .4s ease;
    }
}

@media (max-width: 768px) {
    .defState {
        right: 30px;
    }

    .showUp {
        transform: translateY(-120px);
    }
}

@media (min-width: 1024px) {
    .up_icon {
        width: 30px;
        height: 30px;
    }

    .defState {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1900px) {
    .showUp, .closeUp {
        transition: transform .9s ease, opacity .9s ease;
    }

    .showUp {
        transform: translateY(-120px);
    }

    .closeUp {
        transform: translateY(0);
    }

    .up_icon {
        width: 50px;
        height: 50px;
    }

    .defState {
        width: 90px;
        height: 90px;
        right: 60px;
    }
}